.benefitsContainer {
  display: flex;
}

.benefitsItem {
  display: flex;
}

@media screen and (max-width: 600px) {
  .benefitsContainer {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .benefitsItem {
    width: calc((100%) / 2);
  }
}
