@use "~@ecommerce-ozon/design_system/dist/public/styles/_variables.scss" as *;

.credit-verification-fail {
  & .vehicle-cards-container {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    justify-content: start;
    @media (max-width: $dso_bp_desktop) {
      justify-content: center;
    }
    grid-template-columns: repeat(auto-fill, minmax(200px, 228px));

    & img {
      width: 189px;
      height: 133px;
      object-fit: cover;
    }
  }
}
